* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sptk {
    background: white;
    width: 30%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(116, 116, 116);
}
.newproduct,
.spmoi,
.chinhsua,
.khohang {
    height: fit-content;
    width: 83%;
    background-color: #979797;
    float: right;
    margin-top: 60px;
    padding: 20px 40px;
}
.phone {
    width: 32%;
    background-color: aqua;
}
.anh {
    width: 80%;
}
img {
    width: 90px;
}
table th,
table td {
    text-align: center;
}

.boxtable {
    border-radius: 20px;
    padding: 15px 15px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(116, 116, 116);
}
table {
    width: 100%;
    border-radius: 10px;
}
table th {
    padding: 19px 15px;
    border-bottom: 2px solid rgb(220, 220, 220);
}
.boxtable table td,
.boxlist table td {
    border-bottom: 1px solid rgb(166, 166, 166);
    /* background-color: #ffffff; */
    padding: 5px 5px;
}
.color {
    width: 100%;
    height: 20px;
}
.allbrand {
    width: 100%;
    display: flex;
    padding: 10px 0px;
    overflow-x: scroll;
    margin-bottom: 10px;
}
.allbrand::-webkit-scrollbar {
    height: 8px;
    background: #979797;
    border-radius: 10px;
}
.allbrand::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, rgb(154, 255, 242), rgb(209, 209, 209));
    border-radius: 20px;
}
.brand {
    line-height: 35px;
    min-width: 150px;
    margin-left: 20px;
    height: 35px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-radius: 13px;
    border: 1px solid grey;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px rgb(116, 116, 116);
    transition: all 0.6s ease;
}
#tatca {
    margin-left: 0;
}
.brand:hover {
    background: black;
    color: white;
    cursor: pointer;
}
.addnew {
    width: 100%;
    height: 400px;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tenhang {
    text-align: center;
    width: 23%;
    height: 60px;
    padding: 5px 10px;
    font-size: 30px;
    background: rgb(255, 225, 229);
    border-radius: 30px;
    box-shadow: 4px 3px rgb(255, 171, 185);
    border: 1px solid rgb(255, 187, 197);
}
.tenhang:hover {
    background-color: rgb(0, 4, 255);
    color: white;
    box-shadow: 4px 3px rgb(87, 191, 255);
    border: none;
}
.chonhang {
    display: flex;
    justify-content: space-between;
}
.boxbrand {
    font-size: 28px;
    color: white;
    font-weight: bold;
    background-color: grey;
    width: 60%;
    border-radius: 10px;
    text-align: center;
}
.boxbrand:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
}
.chonhang p {
    font-size: 20px;
    font-weight: bold;
}
.newboxbrand {
    display: none;
    top: 30%;
    text-align: center;
    width: 662px;
    z-index: 1;
    position: absolute;
    background: grey;
    right: 80px;
    border-radius: 10px;
}
.newboxbrand p {
    margin: 0;
}
.newboxbrand p:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.stockbut {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: none;
    font-size: 19px;
    background: white;
    transition: all 0.5s ease;
}
.stockbut:hover {
    transform: scale(1.5);
}
.newproduct {
    position: relative;
}
.boxfix,
.boxfixlist {
    text-align: center;
    display: none;
    width: 800px;
    background: rgb(184, 184, 184);
    position: fixed;
    top: 13%;
    left: 30%;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px 40px;
}

.boxfixbut {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.boxfixbut button {
    width: 45%;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}
.boxfixbut button:hover {
    background: black;
    color: white;
}
.inboxfix {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    font-size: 20px;
    font-weight: bold;
}
.inboxfix input {
    width: 65%;
    border: none;
    height: 34px;
    border-radius: 10px;
    padding: 5px 12px;
}
.boxclear,
.boxclearlist {
    display: none;
    padding: 20px 30px;
    text-align: center;
    width: 800px;
    height: 280px;
    background: white;
    position: fixed;
    top: 25%;
    left: 30%;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px 40px;
}
.tendt {
    font-size: 40px;
    font-weight: bold;
}
.boxaccept {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.boxaccept button {
    width: 45%;
    height: 100%;
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
}
.boxaccept button:hover {
    background-color: black;
    color: white;
}
.boxlist {
    z-index: 1;
    display: none;
    /* position: fixed; */
    width: 100%;
    top: 17%;
    background-color: white;
    border-radius: 20px;
    padding: 15px 20px;
    box-shadow: 2px 2px 2px 2px rgb(116, 116, 116);
}
table tbody {
    display: block;
    /* height: 398px; */
    overflow: auto;
}
table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
table thead {
    width: calc(100% - 1em);
}
table {
    width: 100%;
}
table tbody::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}
table tbody::-webkit-scrollbar-thumb {
    background: rgb(59, 59, 59);
    border-radius: 50px;
}
.butlist {
    width: 28px;
    height: 28px;
    border: none;
    background-color: white;
    font-size: 20px;
    transition: all 0.5s ease;
    border-radius: 50px;
}
.butlist:hover {
    transform: scale(1.5);
}
.tableclear {
    font-size: 20px;
}
