
.table_giao {
  width: 83%;
  height: 100vh;
  background-color: #e9ecef;
  float: right;
  padding: 20px 30px;
  margin-top: 60px;
  color: black;
}


.title_giao {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
} 
