
.admin {
  position: relative;
}
.sidebar {
  width: 17%;
  height: 100vh;
  background: #181722;
  position: fixed;
}
.topside {
  width: 100%;
  height: 60px;
  background: #1f212d;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 68, 0);
  font-size: 18px;
}
.online {
  color: white;
}
.logo {
  width: 40px;
  background: #1f212d;
}
.img {
  border-right: 0.8px solid white;
  padding-right: 35px;
}
.admin {
  position: relative;
}
.headervinh {
  position: fixed;
  right: 0;
  width: 83%;
  height: 60px;
  background: #ffffff;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 18px 30px;
  z-index: 10;
}

.left1 {
  color: #494949;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  width: 8%;
  font-size: 23px;
}
.right {
  width: 15%;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tenuser {
  width: 100px;
  font-size: 15px;
  color: #181722;
  z-index: 10;
  margin-left: 10px;
  padding-top: 10px;
}
.user_name {
  font-size: 16px;
}
.mid {
  width: 40%;
  display: flex;
  position: relative;
}
.mid input {
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color: #e3e3e3;
  font-size: 12px;
  padding: 15px 30px;
  outline: none;
}
.searchvinh {
  position: absolute;
  line-height: 30px;
  left: 10px;
  color: #838383;
}
.iconmail:hover {
  color: #5247bd;
  cursor: pointer;
}

.iconuser:hover {
  color: #5247bd;
  cursor: pointer;
}
.iconbell:hover {
  color: #5247bd;
  cursor: pointer;
}
.right1 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.iconcolor:hover {
  color: #5247bd;
  cursor: pointer;
}
.iconcolor {
  margin-right: 10px;
}
.botside {
  padding: 30px 10px;
}
.dashbar {
  background: #2b293d;
  border-radius: 40px;
  display: flex;
  width: 100%;
  height: 43px;
  padding: 0px 15px;
}
.tv {
  line-height: 43px;
  color: #9e9e9e;
}
.dashbar p {
  color: #9e9e9e;
  line-height: 43px;
  margin-left: 20px;
}
.menu1 {
  display: flex;
  justify-content: space-between;
  color: #9e9e9e;
  display: flex;
  padding: 10px 15px;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
.menu1 div {
  display: flex;
}
.vicon,
.opt,
.arrow {
  line-height: 20px;
}
.opt {
  margin-left: 10px;
  font-size: 20px;
}
.vicon {
  font-size: 17px;
}
.menu1:hover {
  color: white;
  cursor: pointer;
}
.arrow {
  font-size: 15px;
}
.select,
.product,
.staff,
.infor {
  margin-left: 45px;
  color: #9e9e9e;
  font-size: 16px;
  display: none;
}
.select p,
.product p,
.staff p,
.infor p {
  margin-top: 15px;
}
.select p:hover,
.staff p:hover {
  color: white;
  cursor: pointer;
}

.opt:hover {
  color: white;
  cursor: pointer;
}
.admin {
  background: grey;
}
.left1 {
  position: relative;
}
.tb1 {
  width: 13px;
  height: 13px;
  text-align: center;
  position: absolute;
  border-radius: 50px;
  background-color: rgb(0, 144, 151);
  font-size: 9px;
  color: white;
  font-weight: bold;
  top: -3px;
  left: 15px;
}

.tb2 {
  width: 13px;
  height: 13px;
  text-align: center;
  position: absolute;
  border-radius: 50px;
  background-color: rgb(0, 144, 151);
  font-size: 9px;
  color: white;
  font-weight: bold;
  top: -3px;
  left: 86px;
}
.tb1:hover {
  background-color: rgb(255, 0, 43);
  color: black;
  cursor: pointer;
}
.tb2:hover {
  background-color: rgb(255, 0, 43);
  color: black;
  cursor: pointer;
}
.changecolor {
  z-index: 99;
  width: 700px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 60px;
  right: 20%;
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
  padding: 15px 25px;
  display: none;
  z-index: 99999;
}
.light {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.lightpink,
.lightgrey,
.lightblue,
.black,
.green,
.purple {
  width: 30%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 37px 30px;
}
.lightpink {
  background: rgb(255, 185, 209);
}
.lightgrey {
  background: rgb(195, 195, 195);
}
.lightblue {
  background: rgb(156, 200, 255);
}
.black {
  background: black;
}
.green {
  background: green;
}
.purple {
  background: purple;
}
.incolor {
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 50px;
  background: rgb(84, 84, 84);
  display: none;
}
.lightpink:hover .incolor,
.lightgrey:hover .incolor,
.lightblue:hover .incolor,
.black:hover .incolor,
.green:hover .incolor,
.purple:hover .incolor {
  display: block;
  cursor: pointer;
}
.incolor:hover {
  background: rgb(255, 105, 130);
  cursor: pointer;
}
.topco {
  display: flex;
  justify-content: space-between;
}
.fa-x {
  font-size: 30px;
}
.hover:hover {
  color: white;
  cursor: pointer;
}

/* thêm avatar của user */
.user_avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}